*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  shape-margin: 1rem;
}

button {
  border: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}


footer {
  position: relative;
  margin-top: auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
